header,
section,
footer {
    width: 100%;
}

header {
    background-color: blue;
    height: 100px;
    color: white;
}

#marca {
    width: 50%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

#btn_principal {
    width: 50%;
    float: right;
    text-align: center;
}

.opciones ul {
    text-decoration-style: none;
}

.opciones li a {
    color: white;
}

#inicio {}

#img_in {
    width: 100%;
    height: 100%;
}

#img_in img {
    width: 100%;
    height: auto;
}

#img_izq {
    width: 50%;
    height: 440px;
    background-color: gold;
    float: left;
}

#img_der {
    width: 50%;
    height: 440px;
    background-color: red;
    float: right;
}

footer {
    background-color: teal;
    height: 120px;
}

#datos {
    width: 70%;
    height: 120px;
    background-color: #ccffff;
    float: left;
}

#btn_redes {
    width: 30%;
    height: 120px;
    background-color: #660066;
    float: right;
}